#!/bin/sh
set -e

# Redirect incoming port 443 to proxy (port {{ .GatewayListenPort }})
iptables -t nat -A PREROUTING -p tcp --dport 443 -j REDIRECT --to-port {{ .GatewayListenPort }}
{{ range .HTTPRedirectPorts }}
# Redirect HTTP port {{ . }} to HTTP proxy
iptables -t nat -A PREROUTING -p tcp --dport {{ . }} -j REDIRECT --to-port {{ $.HTTPListenPort }}
{{ end }}
# Start gateway
exec /usr/local/bin/gateway
